# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# ---- CLion / JetBrains ----
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
CMakeCache.txt
CMakeFiles/

# ---- CMake ----
cmake_install.cmake
Makefile

# ---- Build outputs ----
*.o
*.obj
*.dll
*.exe
*.so
*.out

# ---- MacOS ----
.DS_Store

# ---- Generic C++ ----
*.a
*.lib
*.pch
*.pdb
*.dSYM/

.vs/
.vscode/
*.code-workspace
out/
build/
logs/
